apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-service
  namespace: sirius
spec:
  selector:
    matchLabels:
      app: api-service
  replicas: 4
  template:
    metadata:
      labels:
        app: api-service
    spec:
      containers:
        - name: api-service
          image: ${APP_IMAGE_OWNER}/${APP_IMAGE_NAME1}:latest
          imagePullPolicy: IfNotPresent
          resources:
            requests:
              memory: "32Mi"
              cpu: "100m"
            limits:
              memory: "128Mi"
              cpu: "500m"
          envFrom:
            - configMapRef:
                name: api-service-env
